<!doctype html>
<html lang="en">
  <head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
     <!-- Font Awesome icons (free version)-->
     <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="login-page-background">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Register</h5>
                  <form class="form-signin" method="POST" action="/profile">

                    <div class="form-label-group">

                      <input type="text" id="name" class="form-control" name="name" placeholder="name" required autofocus>
                    <label for="name">Name</label>

                  </div>


                    <div class="form-label-group">

                        <input type="text" id="username" class="form-control" name="username" placeholder="Username" required autofocus>
                      <label for="username">Username</label>

                    </div>
                    <div class="form-label-group">

                      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                      <label for="inputEmail">Email address</label>
                    </div>
                    
                    
                    
                    <div class="form-label-group">

                      <input type="text" id="contact" class="form-control" name="contact" placeholder="Contact Number" required autofocus>
                      <label for="contact">Contact Number</label>
                    </div>
                    
                    
                    
      
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" name="created" class="form-control" placeholder="Create Password" required>
                      <label for="inputPassword">Create Password</label>
                    </div>
                    
                    <div class="form-label-group">
                      <input type="password" id="confirmPassword" name="confirmed" class="form-control" placeholder="Confirm Password" required>
                      <label for="confirmPassword">Confirm Password</label>
                    </div>
                    <button class="btn btn-lg btn-block text-uppercase" type="submit" style="background-color: #F4623A; border: 0; color: white;">Next</button>
              
                   
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>